@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tenada';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --scrollbar-width: 10px;
  --scrollbar-track-color: #e5e5e5;
  --scrollbar-thumb-color: #9ca3af;
  --scrollbar-thumb-hover-color: #6b7280;
}

html {
  scroll-behavior: smooth;
}

/* Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-width);
  border: 2px solid var(--scrollbar-track-color);
  background-image: linear-gradient(to bottom, #9ca3af, #6b7280);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
  background-image: linear-gradient(to bottom, #6b7280, #4b5563);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
